<% provide(:title, full_title('About')) %>
<h1>About</h1>
<p>
	Share and find college notes. Note share helps students find notes from peers and alumni for various subjects. It is easy to share, rate and read notes and will be your companion to make the most out of your courses. 

</p>

